torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
numpy==1.26.3
matplotlib==3.10.3
scipy==1.10.1
scikit-learn==1.7.0
pandas==2.2.3
tqdm==4.67.1
mne==1.9.0
diffusers==0.34.0.dev0
accelerate==1.7.0
transformers==4.51.3
einops==0.8.1
